/* You can add global styles to this file, and also import other style files */
$deep-sea-blue: #264653;
$tropical-teal: #2a9d8f;
$golden-sand: #e9c46a;
$sunset-orange: #f4a261;
$coral-red: #e76f51;
$icy-blue: #e0fbfc;

$bg: #f3fcfd;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
