<div class="home-section">
    <div class="home-image">
      <img src= "http://localhost/api_homeservices/images/main1.png" alt="Home Services" />
    </div>
    <div class="home-text">
      <h5>BRINGING SERVICES TO YOUR DOORSTEP</h5>
      <h2>ENJOY PROFESSIONAL HOME SERVICES <br />WITH JUST A FEW CLICKS!</h2>
      <p>
        Discover the ease of getting expert help for all your home needs. From plumbing and electrical to cleaning – we've got you covered!
      </p>
      <p class="quote">
        "Reliable, trusted, and convenient – HomeServices reimagined."
      </p>
    </div>
  </div>
  